@model EmercomDisp.Web.Models.Equipment_.EditEquipmentListModel

@{
    ViewBag.Title = "EditEquipmentList";
}

<h2>Edit Equipment List</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CallId)
    @Html.HiddenFor(model => model.CallResponseId)
    for (int i = 0; i < Model.Equipment.Count; i++)
    {
        var item = Model.Equipment[i];
        @Html.HiddenFor(model => model.Equipment[i].Id)
        @Html.CheckBoxFor(model => model.Equipment[i].IsSelected)
        @Html.LabelFor(model => model.Equipment[i].Name, item.Name)
        <br />
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}