@model EmercomDisp.Web.Models.Calls.CallItemViewModel
<tr>
    <td>@Html.ActionLink(Model.CallId.ToString(), "CallDetails", "Call", new { id = Model.CallId }, null)</td>
    <td>@Model.Address</td>
    <td>@Model.Reason</td>
    <td>@Model.CallTime</td>
    <td>@Model.Category</td>
    <td>@Model.Status</td>
</tr>