@model EmercomDisp.Web.Models.Equipment_.EquipmentListModel

@{
    ViewBag.Title = "EquipmentList";
}

<table class="table table-condensed">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>
    @foreach (var equipmentItem in Model.EquipmentList)
    {
    <tr>
        <td class="col-lg-2">
            @Html.DisplayFor(model => equipmentItem.Id)
        </td>
        <td class="col-lg-2">
            @Html.DisplayFor(model => equipmentItem.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Equipment", new { id = equipmentItem.Id }, null) |
            @Html.ActionLink("Delete", "Equipment", new { id = equipmentItem.Id }, null)
        </td>
    </tr>
    }
</table>
<button type="button" class="btn btn-default col-lg-12" onclick="location.href='@Url.Action("CreateEquipment", "Equipment")';return false;"><span class="btn-span"></span>Create</button>
<h2>@Html.ActionLink("Back", "Index", "Home")</h2>


