@model EmercomDisp.Web.Models.CallViewModels.CallDetailsViewModel

@{
    ViewBag.Title = "CallDetails";
}

<h2>Call Details</h2>

<div>
    <h4> </h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Call.Address)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Call.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Call.Reason)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Call.Reason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Call.CallTime)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Call.CallTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Call.TransferTime)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Call.TransferTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Call.ArriveTime)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Call.ArriveTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Call.FinishTime)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Call.FinishTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Call.ReturnTime)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Call.ReturnTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Call.Category)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Call.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Call.BrigadeId)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Call.BrigadeId)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "CallList", "CallList");
</p>
