@model EmercomDisp.Web.Models.Calls.CallDetailsViewModel

@{
    ViewBag.Title = "CallDetails";
}

<div>
    <h4>Call Details</h4>
    <hr />
    <table class="table-condensed table-bordered" style="width:100%">
        <tr>
            <th>
                Id
            </th>
            <th>
                Address
            </th>
            <th>
                Reason
            </th>
            <th>
                Call Time
            </th>
            <th>
                Category
            </th>
            <th>
                Incident Description
            </th>
            <th>
                Incident Cause
            </th>
            <th>
                Victims
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
               @Html.DisplayFor(Model => Model.Call.Id)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Call.Address)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Call.Reason)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Call.CallTime)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Call.Category)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Call.IncidentDescription)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Call.IncidentCause)
            </td>
            <td>
                @Html.ActionLink(Model.VictimsCount.ToString(), "VictimsList", "Victims", new { callId = Model.Call.Id }, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCall", new { id = Model.Call.Id }) |
                @Html.ActionLink("Delete", "DeleteCall", new { id = Model.Call.Id })
            </td>
        </tr>
    </table>
</div>
<h4>Call Responses:</h4>
<div class="col-md-offset-1">
    @{Html.RenderAction("CallResponseList", "CallResponse"); }
</div>
<p>
    @Html.ActionLink("Back to list", "CallList", "CallList")
</p>
