@model EmercomDisp.Web.Models.Calls.CallDetailsViewModel

@{
    ViewBag.Title = "CallDetails";
}

<div>
    <p>
        @Html.ActionLink("Back to list", "CallList", "CallList")
    </p>
    <h4>Call Details</h4>
    <hr />
    <table class="table-condensed table-bordered" style="width:100%">
        <tr>
            <th>
                Id
            </th>
            <th>
                Address
            </th>
            <th>
                Reason
            </th>
            <th>
                Call Time
            </th>
            <th>
                Category
            </th>
            <th>
                Incident Description
            </th>
            <th>
                Incident Cause
            </th>
            @if (!Model.Call.IsActive)
            {
                <th>
                    Victims
                </th>
                <th></th>
            }
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(Model => Model.Call.Id)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Call.Address)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Call.Reason)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Call.CallTime)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Call.Category)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Call.IncidentDescription)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Call.IncidentCause)
            </td>
            @if (!Model.Call.IsActive)
            {
                <td>
                    @Html.ActionLink(Model.VictimsCount.ToString(), "VictimsList", "Victims", new { callId = Model.Call.Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCall", new { id = Model.Call.Id }) |
                    @Html.ActionLink("Delete", "DeleteCall", new { id = Model.Call.Id })
                </td>
            }
            @if (Model.Call.IsActive && !Model.HasActiveCallResponses)
            {
                <td>
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("CloseCall", "Call", new { id = Model.Call.Id })' ;return false;">Close</button>
                </td>
            }
        </tr>
    </table>
</div>

@if (Model.Call.IsActive)
{
    <p>
        <div>
            <button type="button" class="btn btn-danger col-lg-3 col-lg-offset-1" onclick="location.href='@Url.Action("CreateCallResponse", "CallResponse", new { callId = Model.Call.Id })' ;return false;">Send brigade</button>
        </div>
    </p>
}
<div class="col-md-offset-1">
    @{Html.RenderAction("CallResponseList", "CallResponse"); }
</div>

