@model EmercomDisp.Web.Models.CallViewModels.CallDetailsViewModel

@{
    ViewBag.Title = "CallDetails";
}

<h2>CallDetails</h2>

<div>
    <h4>Call Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Call.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Call.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Call.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Call.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Call.CallTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Call.CallTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Call.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Call.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to list", "CallList","CallList")
</p>
