@model EmercomDisp.Web.Models.Brigades.BrigadeMembersListModel

@{
    ViewBag.Title = "BrigadeMembersList";
}
<div class="form-horizontal">
    <table class="table table-condensed">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Brigade Name
            </th>
            <th></th>
        </tr>
        @foreach (var brigadeMember in Model.BrigadeMembers)
        {
        <tr>
            <td class="col-lg-2">
                @Html.DisplayFor(model => brigadeMember.Id)
            </td>
            <td class="col-lg-2">
                @Html.DisplayFor(model => brigadeMember.Name)
            </td>
            <td class="col-lg-2">
                @Html.DisplayFor(model => brigadeMember.BrigadeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBrigadeMember", "Brigade", new { id = brigadeMember.Id }, null) |
                @Html.ActionLink("Delete", "DeleteBrigadeMember", "Brigade", new { id = brigadeMember.Id }, null)
            </td>
        </tr>
        }
    </table>
    <button type="button" class="btn btn-default col-lg-12" onclick="location.href='@Url.Action("CreateBrigadeMember", "Brigade")';return false;"><span class="btn-span"></span>Create Brigade Member</button>
</div>
<p>
    @Html.ActionLink("Back to brigade list", "BrigadeList", "Brigade")
</p>